{
  "presets": [
    "react-app",
    ["@babel/preset-env", { "loose": true }],
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@emotion", "babel-plugin-styled-components"]
}
